*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(5, 5, 75); */
}
main{
    width: 100%;
    margin: 50px auto;
    border: 1px solid grey;
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: repeat(2, 1fr) 250px ;
    grid-gap: 20px;

}
.div1{
    background-color: rgb(7, 7, 53);
    /* grid-column: 1/ span 2; */

}
.div2{
    background-color: rgb(7, 7, 53);
}

.div3{
    background-color:  rgb(7, 7, 53);
    grid-row: 2/4;
    grid-column: 1/ span 2;
    
}
.div4{
    background-color:  rgb(7, 7, 53);
}
.div5{
    background-color:  rgb(7, 7, 53);
grid-column:3/4;
 }
.div6{
    background-color:  rgb(7, 7, 53);
grid-column: 3/4;
}
